.button-operator, .button-number, .button-equals {
  aspect-ratio: 1/1;
  font-size: 1rem;
  padding: 1rem;
  color: black;
  background-color: rgb(239, 239, 239);
  border: 0.1rem solid white;
  transition-duration: 0.4s;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0,0,0,0.2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-text:hover, .button-number:hover {
  background-color: #001eff;
  color: white;
  cursor: pointer;
}

.button-number, .button-operator {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.button-operator, .button-equals {
  color: rgb(21, 0, 255);
}
.button-number {
  color: black;
}

.button-equals:hover,.button-operator:hover {
  background-color: rgb(255, 255, 255);
  color: #001eff;
  cursor: pointer;
}

.button-text {
  border-radius: 0.5rem;
  min-width: 8rem;
  max-width: 8rem; 
  height: 4rem; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: rgb(21, 0, 255);
  background-color: rgb(239, 239, 239);
  border: 0.1rem solid white;
  transition-duration: 0.4s;
  box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0,0,0,0.2);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-equals {
  border-radius: 1rem;
  width: 5rem;
  height: 11rem;
}